<div class="shared-background">
  <div class="shared-logo">Shared logo</div>

  <form name="form" class="secondary-screen-form movable">
    <!-- Client's name -->
    <div class="input-field-container form-group">
      <label for="name-field" class="required">Name</label>
      <input id="name-field" type="text" placeholder="Your name" name="uName" ng-model="booking.name" required/>
      <div ng-show="form.uName.$touched">
        <div class="validation-error-message" ng-show="form.uName.$error.required">Tell us your name</div>
      </div>
    </div>
    <!-- Clients phone number (optional) -->
    <div class="input-field-container form-group">
      <label for="phone-field">Phone</label>
      <input id="phone-field" type="phone" placeholder="Phone number" name="uPhone" ng-pattern="/^\+{0,1}[0-9 ]+$/" ng-model="booking.phone"/>
      <div ng-show="form.uPhone.$touched">
        <div class="validation-error-message" ng-show="form.uPhone.$error.pattern">Tell us a valid phone number or leave empty</div>
      </div>
    </div>

    <!-- Email (required) -->
    <div class="input-field-container form-group">
      <label for="mail-field" class="required">Email</label>
      <input id="mail-field" type="email" placeholder="Email" name="uEmail" ng-model="booking.email" required/>
      <div ng-show="form.uEmail.$touched">
        <div class="validation-error-message" ng-show="form.uEmail.$error.required">Tell us your email, so we can contact you</div>
      </div>
    </div>

    <div class="input-field-container form-group">
      <label for="plate-field" class="required">Licence plate</label>
      <input id="plate-field" type="text" placeholder="ABC-123" name="licensePlate" ng-model="booking.licensePlate" required/>
      <div ng-show="form.licensePlate.$touched">
        <div class="validation-error-message" ng-show="form.licensePlate.$error.required">Tell us your license plate, so we can identify your vehicle</div>
        <div class="validation-error-message" ng-show="form.licensePlate.$error.pattern">Tell us your license plate, so we can identify your vehicle</div>
      </div>
    </div>

    <div class="input-field-container form-group">
      <label for="date-field" class="required">Preferred date</label>
      <input type="text" name="date"
            uib-datepicker-popup="dd MMMM yyyy" ng-model="dt" is-open="status.opened" 
            min-date="minDate" datepicker-options="dateOptions" show-weeks="false"
            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" is-open="opened" ng-click="openDatepicker()"/>

     <!--  <input placeholder="HH:MM" ng-model="booking.preferredTime" name="time"/> -->
      <div class="spans" ng-show="form.date.$touched">
        <div class="validation-error-message" ng-show="form.date.$error.required">Tell when you would like to come</div>
      </div>
    </div>

    <div class="input-field-container form-group">
      <label for="description-field" class="required">Problem description</label>
      <textarea id="description-field" placeholder="Problem description" ng-model="booking.description" required></textarea>
      <div class="spans" ng-show="form.description.$touched">
        <div class="validation-error-message" ng-show="form.description.$error.required">Tell us what's wrong</div>
      </div>
    </div>

    <div ng-class="{ back: true, disabled: !form.$valid }" ng-click="goBack()">Book</div>
  </form>
</div>

<ng-include src="'./common-description.html'"></ng-include>